<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073745768330-71pofrn55i8ktdtou1s89i7fktsi4fc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073745768330-71pofrn55i8ktdtou1s89i7fktsi4fc6</string>
	<key>API_KEY</key>
	<string>AIzaSyAhxMXg4PNBIb1F5QxdrPlIs1wvVZyp28E</string>
	<key>GCM_SENDER_ID</key>
	<string>1073745768330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vehicleIdentification</string>
	<key>PROJECT_ID</key>
	<string>campuscar-fa0ef</string>
	<key>STORAGE_BUCKET</key>
	<string>campuscar-fa0ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073745768330:ios:65a26a70f210123d976273</string>
</dict>
</plist>